/* border */
._1q5- {
    border-color: rgb(62, 68, 79) !important;
    background-color: rgb(43, 46, 51) !important;
}

/* body, mute, chat area */
 body, ._4ebz, ._4eb_, ._4eb-, ._4eby, ._4u-c, .__i_ {
    background-color: rgb(43, 46, 51) !important;
    border-radius: 0px !important;
}

/* gif panes, search messenger box, top left rectangle, typing area, title area */
._29_7 ._52mr ._4br2, ._5iwm ._58al, ._36ic, ._4rv3, ._5742 {
    background-color: rgb(62, 68, 79) !important;
}

/* unread message */
._1ht3 ._1htf {
    color: rgb(71, 115, 204) !important;
}

/* days next to names on list*/
._1ht7 {
    color: lightslategray !important;
}

/* Name, my text */
._3oh- {
    color: whitesmoke;
}

/* Active 1 min ago... */
._4qba {
    color: gray;
}

/* Friend names */
._1ht6 {
    color: lightgrey !important;
}

/* search mode names */
._364g {
    color: slategray !important;
}

/* emoji pane */
._53ij {
    background-color: rgb(62, 68, 79) !important;
}

/* search text */
._2jnv, ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: darkgray !important;
}

/* gif pane text */
._2f5n ._29ey {
    color: lightgrey !important;
}

/* friend's text div*/
._55sg ._4ng2 ._kv1, ._29_7 ._hh7 {
    background-color: rgb(44, 70, 122) !important;
    border-color: rgb(44, 70, 122) !important;
}

/* friends emoji only text */
._hh7._2f5r, ._hh7._2f5r:active,
._-5k ._hh7._2f5r, ._o0o ._hh7._2f5r,
._o0o ._hh7._2f5r:active,
._o0o ._-5k ._hh7._2f5r {
    background: none !important;
}

/* friends text color */
._29_7 ._hh7 span {
    color: lightgrey !important;
}

._4kf5, ._aou {
    background-color: rgb(62, 68, 79) !important; 
}